body {
    font-size:1rem;
    font-family: 'Roboto', sans-serif;
    background: #29272e;
    color: #cccccc;
}

a {
    color: #b59ef0;
    transition: color .4s;
}

a:hover {
    color: #f09ebc;
}

.header {
    margin-top: 1rem;
    font-size: 2rem;
    font-family: 'Patua One', cursive;

    text-align: center;

    border-bottom: 1px solid #ccc;
}

.header .buttons .button {
    width: 2rem;
}

.header .buttons.right {
    display:inline;
    position:absolute;
    right: 0;
    margin-right: 1rem;
}

.puzzleContainer {
    display: flex;
    margin-top: 2rem;
}

/* GuessesDisplay {{{ */

.guessesDisplay {
    display: flex;
    margin: 1rem auto;
    justify-content: center;
    gap: 0.5rem;
}

.guess {
    width: 3rem;
    height: 3rem;
    border: 2px solid #ccc;
    perspective: 1000px;
    -webkit-transition: all 1s linear !important;
    -moz-transition: all 1s linear !important;
    -o-transition: all 1s linear !important;
    transition: all 1s linear !important;
    transform-style: preserve-3d;
}

.guess:not(.notguessed) {
    transform: rotateY(180deg);
}

.guess .front, .guess .back {
    backface-visibility: hidden;
    position:absolute;
    width:100%;
    height:100%;
}

.guess .front {
    z-index:2;
}

.guess .back {
    transform: rotateY(180deg);
    z-index:1;
}


.guess .front {
    background:#29272e;
}

.guess .back {
    background:#29272e;
}

.guess.incorrect .back {
    background:#4a0000;
}

.guess.correct .back {
    background:#074a00;
}
/* }}} */

/* guessContainer {{{ */
.guessContainer {
    text-align:center;
    margin: 1rem auto;
    position: absolute;
    bottom: 0;
    background: #29272e;
    left: 50%;
    transform: translateX(-50%);
}

.guessContainer input {
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
}

.guessContainer .suggestions .suggestion {
    margin: 1rem 0;
    font-size: 1.5rem;
}

.guessContainer .suggestions .selected {
    text-shadow: 0 0 1rem #34eaed;
    color:#fff;
}
/* }}} */

/* ImageContainer {{{ */
.imageContainer {
    margin: 0 auto;
    text-align: center;
}

.imageContainer svg {
    margin: 0 auto;
    width: auto;
    height: 70vh;
}
/* }}} */

/* Views */
.congrats {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
}



#cardtitle{
    margin: 0 auto;
}

object {
    display: block;
}
