:root {
    --correct-color: #46e800;
    --incorrect-color: #888;
    --empty-color: #555;
    --font-color: #333;
    --guess-font-color: #fff;
    --bg-color: #fff;
    --bg-trans-color: rgba(255, 255, 255, 0.7);
    --overlay-bg-color: #ddd;
    --border-color: #333;
    --highlight-color: #34eaed;
    --font-highlight-color: #000;
}

[data-theme="dark"] {
    --correct-color: #247800;
    --incorrect-color: #1e1c21;
    --empty-color: #555;
    --font-color: #ccc;
    --guess-font-color: #ccc;
    --bg-color: #29272e;
    --bg-trans-color: rgba(41, 39, 46, 0.7);
    --overlay-bg-color: #201e24;
    --border-color: #ccc;
    --highlight-color: #34eaed;
    --font-highlight-color: #fff;
}

body {
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    background: var(--bg-color);
    color: var(--font-color);
}

.header {
    margin-top: 1rem;
    font-size: 2rem;
    font-family: 'Patua One', cursive;

    text-align: center;

    border-bottom: 1px solid var(--border-color);
}

.header .buttons .button {
    width: 2rem;
}

.header .buttons.right {
    display:inline;
    position:absolute;
    right: 0;
    margin-right: 1rem;
}

.puzzleContainer {
    display: flex;
    margin-top: 2rem;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem 0rem;
    flex-direction:row-reverse;
}

/* GuessesDisplay {{{ */

.guessesOuter {
    flex-grow: 3;
}

.guessesDisplay {
    display:flex;
    justify-content: center;
    margin: 2rem auto;
    flex-grow: 1;
    padding: 0 2rem;
}

.guessColumn {
    margin: 0 auto;
    flex-grow: 0;
}

.guessColumn.title {
    flex-grow: 1;
    min-width: 10rem;
}

.guessColumn .guessHeader {
    font-family: 'Patua One', cursive;
    font-size: 1.5rem;
    text-align: center;
    margin-right: 1rem;
    white-space: nowrap;
}

.guess {
    width: 4rem;
    height: 4rem;
    border: 2px solid var(--border-color);
    perspective: 1000px;
    -webkit-transition: all 1s linear !important;
    -moz-transition: all 1s linear !important;
    -o-transition: all 1s linear !important;
    transition: all 1s linear !important;
    transform-style: preserve-3d;
    margin-top: 1rem;
    margin-right: auto;
    margin-left: auto;
}

.guess.title {
    width: 100%;
}

.guess.cost {
    font-size: 3rem!important;
}

.guess:not(.notguessed) {
    transform: rotateX(180deg);
}

.guess .front, .guess .back {
    backface-visibility: hidden;
    position:absolute;
    width:100%;
    height:100%;

    font-family: 'Medula One', sans-serif;
    font-size: 2rem;
    color: var(--guess-font-color);

    margin: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.guess .front {
    z-index:2;
}

.guess .back {
    transform: rotateX(180deg);
    z-index:1;
}


.guess .front {
    background: var(--bg-color);
}

.guess .back {
    background: var(--bg-color);
}

.guess.incorrect .back {
    background: var(--incorrect-color);
}

.guess.correct .back {
    background: var(--correct-color);
}

.guess.partial-0-1 .back, .guess.partial-0-2 .back, .guess.partial-0-3 .back, .guess.partial-0-4 .back, .guess.partial-0-5 .back {
    background: var(--incorrect-color);
}

.guess.partial-0-0 .back, .guess.partial-1-1 .back, .guess.partial-2-2 .back, .guess.partial-3-3 .back, .guess.partial-4-4 .back, .guess.partial-5-5 .back {
    background: var(--correct-color);
}

.guess.partial-1-2 .back, .guess.partial-2-4 .back {
    background-image: conic-gradient(from -90deg, var(--correct-color) 0deg 180deg, var(--incorrect-color) 180deg 360deg);
}

.guess.partial-1-3 .back {
    background-image: conic-gradient(var(--correct-color) 0deg 120deg, var(--incorrect-color) 120deg 360deg);
}

.guess.partial-2-3 .back {
    background-image: conic-gradient(var(--correct-color) 0deg 240deg, var(--incorrect-color) 240deg 360deg);
}

.guess.partial-1-4 .back {
    background-image: conic-gradient(from -90deg, var(--correct-color) 0deg 90deg, var(--incorrect-color) 90deg 360deg);
}

.guess.partial-3-4 .back {
    background-image: conic-gradient(from -180deg, var(--correct-color) 0deg 270deg, var(--incorrect-color) 270deg 360deg);
}

.guess.partial-1-5 .back {
    background-image: conic-gradient(var(--correct-color) 0deg 72deg, var(--incorrect-color) 72deg 360deg);
}

.guess.partial-2-5 .back {
    background-image: conic-gradient(var(--correct-color) 0deg 144deg, var(--incorrect-color) 144deg 360deg);
}

.guess.partial-3-5 .back {
    background-image: conic-gradient(var(--correct-color) 0deg 216deg, var(--incorrect-color) 216deg 360deg);
}

.guess.partial-4-5 .back {
    background-image: conic-gradient(var(--correct-color) 0deg 288deg, var(--incorrect-color) 288deg 360deg);
}
/* }}} */

/* guessContainer {{{ */
.guessContainer {
    text-align:center;
    margin: 1rem auto;
    background: var(--bg-color);
}

.guessContainer input {
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
}

.guessContainer .suggestions {
    height: 9rem;
    overflow-y: auto;
}

.guessContainer .suggestions .suggestion {
    margin: 1rem 0;
    font-size: 1.5rem;
}

.guessContainer .suggestions .selected {
    text-shadow: 0 0 1rem var(--highlight-color);
    color: var(--font-highlight-color);
}
/* }}} */

/* ImageContainer {{{ */
.imageContainer {
    flex-grow: 1;
    text-align: center;
}

.imageContainer svg {
    margin: 0 auto;
    width: auto;
    height: 70vh;
    border-radius: 2vh;

}
/* }}} */

/* Views {{{ */
.view {
    margin-top: 2rem;
}

.view .innerView .close {
    position:absolute;
    right: 0;
    margin-right: 1rem;
}

.congrats {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    background: var(--bg-trans-color);
}

.congrats .innerView {
    font-family: 'Patua One', cursive;
    position: relative;
    width: 25rem;
    padding: 1rem;
    margin: 10vh auto;
    background: var(--overlay-bg-color);
    border-radius: 2rem;
}

.congrats h1 {
    font-size: 2rem;
    text-align: center;
    margin: 0;
    margin-bottom: 1rem;
}

.congrats .bottom {
    display:flex;
    gap: 2rem;
    justify-content:space-between;
}

.congrats .bottom .next, .congrats .bottom .share {
    margin: 2rem;
    font-size:1.5rem;
    text-align:center;
}

.congrats .bottom .next {
    text-align:center;
}

.congrats .bottom .next .time {
    font-size: 2rem;
}

.congrats .bottom .share {
    background: var(--correct-color);
    color: var(--guess-font-color);
    text-align: center;
    margin: auto;
    padding: 1.5rem;
    border-radius: .5rem;
}
.congrats .bottom .share img {
    height: 1.5rem;
    position: relative;
    top: .3ex;
}

/* }}} */

/* Settings {{{ */
.settings [type="checkbox"] {
  position: relative;
  left: 30px;
  top: 0px;
  z-index: 0;
  -webkit-appearance: none;
}

.settings [type="checkbox"] + label {
  position: relative;
  display: block;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  line-height: 1.3;
  padding-left:80px;
  position: relative;
  margin-top: -30px;
}

.settings [type="checkbox"] + label:before {
  width: 60px;
  height: 30px;
  border-radius: 30px;
  border: 2px solid var(--border-color);
  background: var(--bg-color);
  content: "";
  margin-right: 15px;
  transition: background-color 0.5s linear;
  z-index: 5;
  position: absolute;
  left: 0px;
}

.settings [type="checkbox"] + label:after {
  width: 30px;
  height: 30px;
  border-radius: 30px;
  background: var(--border-color);
  content: "";
  transition: margin 0.1s linear;
  box-shadow: 0px 0px 5px var(--border-color);
  position: absolute;
  left: 2px;
  top: 2px;
  z-index: 10;
}

.settings [type="checkbox"]:checked + label:before {
  background-color: var(--correct-color);
}

.settings [type="checkbox"]:checked + label:after {
  margin: 0 0 0 30px;
}
/* }}} */

/* Stats {{{*/
.statistics {
    font-family: 'Patua One', cursive;
    margin: 1rem auto;
    display:flex;
    justify-content: center;
    gap: 1rem;
}

.statistics .stat {
    width: min-content;
}

.statistics .stat .number {
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
}
.statistics .stat .label {
    text-align: center;
}

.distribution {
    width: 50vw;
    max-width: 20rem;
    margin: 1rem auto;
}

.distribution .bar {
    height: 1.5rem;
    background: var(--correct-color);
    margin: 1rem 0;
    min-width: 2rem;
}

.distribution .bar.empty {
    background: var(--empty-color);
}

.distribution .index, .distribution .occurance {
    white-space: nowrap;
    font-size: 1.2rem;
    line-height: 1.5rem;
    font-weight: bold;
}

.distribution .index {
    float: left;
    position: relative;
    left: -1.5rem;
}

.distribution .occurance {
    float: right;
    margin-right: .5rem
}

.distribution .bar.empty .occurance {
    float: none;
    text-align: center;
    margin: 0;
}

/* }}} */

#cardtitle{
    margin: 0 auto;
}

object {
    display: block;
}
